.ng-cloak{
	display: none;
}

body{
	color: black;
    background: url('http://radiatedaily.com/wp-content/uploads/2016/05/crab_cakes_with_spinach_ingredients.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.well {
	opacity: .85;
	background-color: #F8F8FF;
}
.fork {
	height: 60%;
	width: 60%;
}

table {
	background-color: white;
}

#right-image {
	height: 50%;
	width: 50%;
}
@media screen and (max-width: 770px){
    .fork , #right-image{
    	display: none;
    }

}